
.side-area {
    background: white !important;
}

.logo {
    margin: 16px;
    text-align: center;
}

.main-content {
    background: #fff;
    border-radius: 5px;
    margin: 24px 16px;
    padding: 24px;
    min-height: 280px;
}

/* Hack para poder conseguir usar paginação com cursor em vez de offset */
.ant-pagination-item,
.ant-pagination-jump-next,
.ant-pagination-jump-prev {
    display: none !important;
}
