
.logo {
    margin: 16px;
    text-align: center;
}

.main-content {
    border-radius: 5px;
    margin: 24px 16px;
    padding: 24px;
    min-height: 280px;
    max-width: calc(100vw - 104px);
}

/* Hack para poder conseguir usar paginação com cursor em vez de offset */
.cursor-pagination .ant-pagination-item,
.cursor-pagination .ant-pagination-jump-next,
.cursor-pagination .ant-pagination-jump-prev {
    display: none !important;
}

@media (max-width: 991px) {
    .logo svg {
        width: 50px !important;
    }
}

.resolveInput {
    width: 100%;
    min-width: 300px;
}

.settings-page .ant-tabs, .main-content {
    overflow: visible !important;
}
